
/* -------------------------
    Cart
 ------------------------- */
#cart-table td,
#sale-table td {
    text-align: center;
}

.quantity-btn {
    background-color: var(--btn-color);
    color: white;
    padding: 0 3px;
    border: none;
    cursor: pointer;
}

.quantity-btn:hover {
    background-color: var(--btn-hover-color);
}


.quantity-display {
    margin: auto 5px;
}

.overall-total {
    text-align: center;
}

.delete-btn {
    padding: 0 6px;
    border-radius: 25px;
    font-size: 20px;
    background-color: rgb(236, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: red;
}

.checkout-btn {
    width: fit-content;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--btn-color);
    border: none;
    padding: 8px 16px;
    align-self: center;
}

.checkout-btn:hover {
    background-color: var(--btn-hover-color);
}

.checkout-btn:disabled {
    background-color: #999999;
    cursor: not-allowed;
    opacity: 0.6;
}

/* ------------------
    Payment
 ------------------ */

.payment-form {
    display: flex;
    flex-direction: column;
    width: 25rem;
    padding: 1.5rem;
    align-self: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.payment-form input {
    padding: 0.5rem;
    margin: 7px 0;
    border: 1px solid #ccc;
}

.payment-btn {
    background-color: var(--btn-color);
    color: white;
    margin-top: 0.3rem;
    padding:0.4rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.payment-btn:hover {
    background-color: var(--btn-hover-color);
}

#totalPrice {
    margin: 10px;
    text-align: center;
    font-weight: bold;
}

.error-msg {
    color: red;
    text-align: center;
    margin-top: 10px;
}

.decrease-quantity:disabled {
    background-color: #999999;
    cursor: initial;
    opacity: 0.6;
}

.decrease-quantity:disabled:hover {
    background-color: #999999;
    opacity: 0.6;
}

#total-price {
    margin: 10px;
    text-align: center;
    font-weight: bold;
}