img {
    align-self: center;
    border-radius: 25px;
    border: 5px solid black;
    width: 300px;
}
/* ----------------
    Boxes
 ---------------- */


.box-container {
    position: relative;
    width: 90%;
    border: 2px solid #ccc;
    margin: 20px 0;
    align-self: center;
}

.box-label {
    position: absolute;
    top: -11px;
    left: 10px;
    background-color: var(--bg-color);
    padding: 0 10px;
    font-weight: bold;
    font-size: 20px;
    z-index: 1;
    color: var(--label-color);
}

/* -------------------------
    Browsing Containers
 ------------------------- */

.link-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 10px;
    padding: 8px 10px;
}

.link-list li {
    margin: 2px 12px;
}

.link-list a {
    font-size: 17px;
}

/* -----------------------------
    Advanced Search Container
 ----------------------------- */

#advanced-search-container {
    width: 90%;
    align-self: center;
}

#adv-search-form {
    margin: 15px;
    display: flex;
    flex-direction: column;
}

#adv-search-input-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.adv-search-input {
    width: 23%;
    margin-bottom: 8px;
}

.adv-search-input input[type=text] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

#button-container {
    text-align: center;
}

#button-container button {
    padding: 10px 20px;
    background-color: var(--btn-color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#button-container button:hover {
    background-color: var(--btn-hover-color);
}

@media screen and (max-width: 550px) {
    .adv-search-input {
        width: 48%;
    }
}
