:root {
    --bg-color: #f1f1f1;
    --nav-color: #000;
    --nav-link-color: #fff;
    --nav-link-hover-color: #ff009b;
    --label-color: #000;
    --link-color: #6f00ff;
    --link-hover-color: #ff009b;
    --btn-color: #000;
    --btn-hover-color: #6f00ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--bg-color);
}

h1 {
    text-align: center;
    /*margin-top: 2rem;*/
    font-family: cursive;
}

a, a:visited {
    text-decoration: none;
    color: var(--link-color);
    font-size: 14pt;
    font-weight: bold;
}

a:hover {
    color: var(--link-hover-color);
}

footer {
    text-align: center;
}

footer a {
    font-size: small;
}
/* -------------------------
    Navigation Bar
 ------------------------- */

nav {
    background-color: var(--nav-color);
    display: flex;
    flex-direction: row;
    padding: 0.7rem 1.2rem;
    align-items: center;
    box-shadow: 0 17px 13px rgba(0, 0, 0, 0.2);
    margin-bottom: 2rem;
}

/* Links */

nav a, nav a:visited {
    padding: 0 1rem;
    font-weight: bold;
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-link-hover-color);
}

nav a.active {
    text-decoration: underline;
    color: var(--nav-link-hover-color);
}

/* Search Bar */

nav #search-bar {
    margin-left: auto;
    height: 1.9rem;
}

nav input[type=text] {
    padding: 0 0.3rem;
    height: 100%;
    width: 250px;
}

nav input[type=text]:focus {
    outline: none;
}

nav #search-bar button {
    float: right;
    padding: 1px 8px;
    cursor: pointer;
    font-size: 20px;
}

nav #search-bar button:hover {
    background-color: #ccc;
}

@media screen and (max-width: 550px) {
    nav input[type=text] {
        width: 100px;
    }
}

/* -------------------------
    Buttons
 ------------------------- */
.add-to-cart-button {
    justify-self: center;
    margin-top: 10px;
}

.add-to-cart-button #add-btn {
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    background-color: #0000ffff;
    border: none;
    padding: 8px 16px;
    text-align: center;
}

.add-to-cart-button #add-btn:hover {
    background-color: #6f00ff;
}

.return-btn {
    background-color: var(--btn-color);
    color: white;
    width: fit-content;
    padding: 5px 10px;
    margin-left: 2rem;
    cursor: pointer;
    border-radius: 6px;
}

.return-btn:hover {
    background-color: var(--btn-hover-color);
}

/* -------------------------
    Tables
 ------------------------- */
table {
    border-collapse: collapse;
    width: 80%;
    align-self: center;
    margin: 2rem;
}

th, td {
    border: 1px solid #dddddd;
    padding: 8px;
}

th {
    background-color: rgb(111, 0, 255, .2);
    text-align: center;
    font-weight: bold;
}

td a {
    font-weight: normal;
    font-size: 1rem;
    margin: 0 12px;
}

tbody tr:nth-child(even) {
    background-color: #dddddd;
}

